<section class="d-grid columns-4 grid-gap-20 w-75 p-50 bg-white-github">
    
    <div class="circle bg-html d-flex-center f-size-18">
        <h1 class="c-white">HTML</h1>
    </div>

    <div class="circle bg-css d-flex-center f-size-18">
        <h1 class="c-white">CSS</h1>
    </div>
    
    <div class="circle bg-yellow d-flex-center f-size-26">
      <h1>JS</h1>
    </div>

    <div class="circle bg-ts d-flex-center f-size-26">
        <h1 class="c-white">TS</h1>
    </div>

    <div class="circle bg-angular d-flex-center f-size-26">
        <h1 class="c-white">A</h1>
    </div>

    <div class="circle bg-vue d-flex-center f-size-26">
        <h1 class="c-vue">Vue</h1>
    </div>

    <div class="circle bg-php d-flex-center f-size-18">
        <h1>PHP</h1>
    </div>

    <div class="circle bg-codeigniter d-flex-center f-size-12">
        <h1 class="c-codeigniter">CodeIgniter</h1>
    </div>

    <div class="circle bg-node d-flex-center f-size-18">
        <h1 class="c-node">node <small>js</small></h1>
    </div>

    <div class="circle bg-mysql d-flex-center f-size-16">
        <h1 class="c-mysql">MySQL</h1>
    </div>

    <div class="circle bg-git d-flex-center f-size-26">
        <h1 class="c-white">git</h1>
    </div>

</section>